
body {
  position: relative;
  font-family: 'Playfair Display';
}

#ret{
  display: none;
}

#uter{
  display: inline-flex;
  width: 100%;
}

header {
  position: absolute ;
  top: 0px ;
  left: 0px ;
  height: 50px !important;
  padding-bottom: 0px !important;
  border-bottom: 1px double blue;
  background: linear-gradient(to top, gold 20%, #F3FF89 60%, #E4AF9D 80%);
}

nav{
  border-bottom: 1px double blue;
  background: linear-gradient(to top, gold 20%, #F3FF89 60%, #E4AF9D 80%) !important;
}

.title{
  padding-top: 3%;
  padding-bottom: 1%;
}

.gradient{height: 100vh;}
.foto{max-height: 100%;
      padding: 0px;
}
.foto1{
  max-height: 80%;
  margin: 10% 0px;
}
.main {padding-top: 50px;
  /*max-width: 1700px;*/
  height: 100%;
  background: linear-gradient(to right, #F6EFD2, #CEAD78);
  background-repeat: repeat;
  background-position: right 0px top 50px;

}

@media(max-width: 2500px;){
  .main{max-width: 2200;}
}
@media(max-width: 1500px;){
  .main{max-width: 1200;}
}
@media(max-width: 1200px;){
  .main{max-width:970px;}
}
@media(max-width: 992px;){
  .main{max-width:750px;}
}


hr{border: 1px solid orange;}
nav{font-family: 'Lobster';
    }


.logo{font-size: 20px;
      color: #BD056F;
      }

ul.navbar-nav{width: 100%;
            text-align: justify;}
li>a{color: #BD056F;}
li.nav-item{ width: 100%;
            text-align: center;}
.opisanie>h2{

	font-size: 30px;
	margin-top: 15%;
	margin-bottom: 10%;
}

.opisanie>h4{
	font-size: 15px;
    /*margin-top: 15%;
	margin-bottom: 10%;*/
}

.opisanie>.nete{font-size: 16px;
                color: black;}
.opisanie>.net{
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
}
.opisanie>p img{
  max-width: 30px !important;
}
.images{align-content: space-between;}
img.process{max-width: 450px;
            max-height: 320px;
            padding: 1.2% 1%;
            justify-content: space-around;
          }
img.process2, img.process3, img.process4{
/*  max-width: 50% ;*/
  max-height: 470px;
  padding: 1.2% 1%;

}
img.process1{
/*  max-width: 50%;*/
  max-height: 470px;
  padding: 1.2% 1%;
  margin-left: 5vw;

}

.iconsfotter{
  margin-right: 2%;
  max-width: 20px ;
}

footer{
  border-top: 1px double orange;
  background-color: brown;
}
/*Картинки к Portfolio*/
.row{margin-right: 0px !important;}
.row .justify-content-center .images{position: relative;

                                    overflow: hidden;
                                    margin: 0px 0px 0px 0px;
                                    padding:  0px 0px 20% 0px;}

.row .justify-content-center .images>img.process{position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                object-position: center;
                                                top: 0;
                                                left: 0;}
#specialist{
  max-width: 100%;
  max-height: 100%;
  padding-left: 10%;
}
.opisanie>.beauty{font-size: 25px;
                  margin-top: 15%;
                color: #8E030F; }

.opisanie .mobile{
  padding-top: 10%;
  padding-bottom: 4%;
}
/*
.contacts{
  height: 100vh;
}
*/


/* Вся настройка бургера */
.nav-wrapper {
	width: 100%;
	margin: 0 0 !important;
	height: 50px;
	background-color: #EFF4E1;
	position: absolute;
	/*top: 100px;*/
	z-index: 1000 !important;
}

.navbar-toggler{
  padding: 0 ;
}

.nav-wrapper>nav{
  max-height: 50px;
  padding: 0;

}

.nav-wrapper ul {
  width: 100%;
  background-color: white;
	margin: 0 auto;
}

.nav-wrapper ul li {
  /*height: 50px;*/
	text-transform: uppercase;
	padding: 0 3px;

}


.nav-wrapper ul li i.menu-leaf {
	font-size: 35px;
	color: #5D9B3B;
}

.nav-wrapper ul li a.active {
	color: #EEE3E4;
}

.nav-wrapper ul li a {
	color: #000000;
}

.nav-wrapper ul li a:hover {
	color: #006F46;
}

.nav-wrapper ul li i.menu-search {
	font-size: 25px;
}

.dropdown-parent {		/* Overriding Bootstrap CSS */
	min-width: 6.5rem !important;
	padding: 0 !important;
	background-color: #EFF3E1 !important;
	background-clip: unset !important;
	border: none !important;

}

#company-link {
	padding-top: 8px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

#company-link:focus, #company-link:hover {  /* Overriding Bootstrap CSS */
	background-color: transparent !important;
}

.dropdown-child {
	padding-top: 5px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
	border-top: 1px solid rgba(127, 234, 195, 0.7) !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-radius: 0px !important;
}
