
body {font-family: 'Playfair Display';}

header {
        padding-bottom: 0px;
        height: 30px;
}

#uter{
  display: none;
}

nav{
  border-bottom: 1px double blue;
  background: linear-gradient(to top, gold 20%, #F3FF89 60%, #E4AF9D 80%) !important;
}

.title{
  padding-top: 3%;
  padding-bottom: 1%;
}




.gradient{
  height: 100vh;
}

.foto{max-height: 100%;
      padding: 0px;
}
.foto1{
  max-height: 30%;
  margin: 15% 0px;
}
.main {
  /*padding-top: 30px;*/
  height: 100%;
  background: linear-gradient(to right, #F6EFD2, #CEAD78);
  background-repeat: repeat;
  background-position: right 0px top 50px;

}


@media(max-width: 768px;){
  .main{max-width:680px;}
}
@media(max-width: 540px;){
  .main{max-width:360px;}
}

hr{border: 1px solid orange;}
nav{font-family: 'Lobster';
    }
#nognicy{
  max-width: 12%;
}

.logo{font-size: 12px;
      color: #BD056F;
      }

ul.navbar-nav{width: 100%;
            text-align: justify;}
li>a{color: #BD056F;}
li.nav-item{ width: 100%;
            text-align: center;}
.opisanie>h2{font-size: 15px;
              margin-top: 15%;
            margin-bottom: 10%;}

.opisanie>h4{
	font-size: 12px;
    margin-top: 15%;
	margin-bottom: 10%;
}


.opisanie>.nete{
  font-size: 12px;
  color: black;
}

.opisanie>.net{
  margin: 0px;
  font-size: 12px;
  color: black;
}



.opisanie>.beauty{font-size: 12px;
                  margin-top: 15%;
                color: red; }
.opisanie>p img{
  max-width: 25px !important;
}

#specialist{
  max-width: 80%;
  max-height: 80%;
  padding-left: 5%;
}
.images{align-content: space-between;}
img.process{max-width: 180px;
            max-height: 320px;
            padding: 1.2% 1%;
            justify-content: space-around;
          }
img.process1, img.process2, img.process3, img.process4{
/*  max-width: 50% ;*/
  max-height: 470px;
  padding: 1.2% 1%;

}

/*Картинки к Portfolio*/
.row{margin-right: 0px !important;}
.row .justify-content-center .images{position: relative;

                                    overflow: hidden;
                                    margin: 0px 0px 0px 0px;
                                    padding:  0px 0px 20% 0px;}

.row .justify-content-center .images>img.process{position: absolute;
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                                object-position: center;
                                                top: 0;
                                                left: 0;}

/*
.contacts{height: 100vh;}
*/
.iconsfotter{
  margin-right: 5%;
  max-width: 20px ;
}

/* Вся настройка бургера */
.nav-wrapper {
	width: 100%;
	margin: 0 0 !important;
	height: 30px;
	background-color: #EFF4E1;
	position: absolute;
	/*top: 100px;*/
	z-index: 1000 !important;
}

.navbar-toggler{
  padding: 0 ;
}

.nav-wrapper>nav{
  max-height: 30px;
  padding: 0;

}

.nav-wrapper ul {
  width: 50%;
  background-color: white;
	margin: 0 auto;
}

.nav-wrapper ul li {
  /*height: 50px;*/
	text-transform: uppercase;
	padding: 0 3px;

}


.nav-wrapper ul li i.menu-leaf {
	font-size: 35px;
	color: #5D9B3B;
}

.nav-wrapper ul li a.active {
	color: #EEE3E4;
}

.nav-wrapper ul li a {
	color: #000000;
}

.nav-wrapper ul li a:hover {
	color: #006F46;
}

.nav-wrapper ul li i.menu-search {
	font-size: 25px;
}

.dropdown-parent {		/* Overriding Bootstrap CSS */
	min-width: 6.5rem !important;
	padding: 0 !important;
	background-color: #EFF3E1 !important;
	background-clip: unset !important;
	border: none !important;

}

#company-link {
	padding-top: 8px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

#company-link:focus, #company-link:hover {  /* Overriding Bootstrap CSS */
	background-color: transparent !important;
}

.dropdown-child {
	padding-top: 5px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
	border-top: 1px solid rgba(127, 234, 195, 0.7) !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-radius: 0px !important;
}
